html, body {
    background-color: #EFEFEF;
    margin: 0;
    padding:0;
    position:absolute;/* this is very important*/
    bottom:0;
    top:0;
    right:0;
    left:0;
    font-family: 'Muli', sans-serif;
    overflow-y:hidden;
}

h2 {
    color: red;
}

#main {
    font-family: 'Muli', sans-serif;
    color: #6B6B6B;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    height: 100%;    
}

.calc-extended {
    width: 100%;
    height: 100%;
    background: #EFEFEF;
}

.menu {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 32px;
    height: 32px;
}


.line1 {
    width: 32px;
}

.line2 {
    width: 16px;
    margin-left: 16px;
}

.line3 {
    width: 24px;
    margin-left: 8px;
}

.container {
    position: relative;
    height: calc(100% - 46px);
    max-width: 460px;
    width: 100%;
    padding-top: 46px;
    margin: 0 auto;
    /*padding-bottom: 10px;*/
}

.calculator {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 100%;
    max-height: 652px;
    z-index:1;
    transition: transform 0.4s 0s
}

.calculator.slide-out{
    transform: translateY(80%);
    transition: transform 0.5s;
}

.sidebar{
    width: calc(100% - 80px);
    padding: 0 40px;
    position: absolute;
    top: 46px;
    left: 0px;
}

.tabs {
    margin-top: 30px;
    font-size: 24px
}
.tabs span + span {
    margin-left: 40px; 
}

.screen {
    max-height: 132px;
    text-align: right;
    height: 20%;
    width: 95%;
    margin: 0 auto;
    font-size: 24px;
}

.screen input {
    border: none;
    font-family: 'Muli', sans-serif;
    color: #6B6B6B;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    height: 100%;
    padding: 0;
    width: 100%;
}

.screen input:focus {
    outline: none;
}

.keyboard {
    background-color: #C9EFE0;
    border-radius: 0px 0px 10px 10px;
    width:100%;
    height: 80%;
    max-height: 528px;
    display: flex;
}

.button {
    flex: 1;
    text-align: center;
    font-size: 2.25em;
    cursor: pointer;
}

.button:active {
    background-color: rgb(157, 211, 189);
  }

.orange {
    color: #FE6B0E;
}

.button span {
    display:block;
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}

.keyboard > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab-content {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 20px;
    font-weight: 700;
}

.tab-line{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tab-line .clickable {
    color: #FE6B0E;
}

.tab {
    cursor: pointer;
}

.tab.bold {
    font-weight: 700;
}

@media (min-width: 460px) {
    .container {
        height: calc(100% - 62px);
        padding-bottom: 16px;
    }
}

@media (min-width: 920px) {
    html, body {
        background-color: white;
    }
    
    .calc-extended {
        max-height: 652px;
        max-width: 920px;
        border-radius: 10px;
        justify-content: left;
        display: flex;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }

    .container {
        width: 460px;
        padding-top: 0px;
        height: 100%;
        margin: 0px;
    }

    .calculator {
       width: 460px;
       margin-top:0px;
       height: 100%;
    }

    .sidebar {
        top: 0px;
        left: 460px;
    }
    
    .calculator.slide-out{
        transform: none;
        transition: transform 0.5s;
    }
    
}

